@font-face {
	font-family: 'Quicksand';
	src: url('../webfonts/Quicksand-Bold.eot');
	src: url('../webfonts/Quicksand-Bold.eot?#iefix') format('embedded-opentype'),
		url('../webfonts/Quicksand-Bold.woff') format('woff'),
		url('../webfonts/Quicksand-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Quicksand';
	src: url('../webfonts/Quicksand-Medium.eot');
	src: url('../webfonts/Quicksand-Medium.eot?#iefix') format('embedded-opentype'),
		url('../webfonts/Quicksand-Medium.woff') format('woff'),
		url('../webfonts/Quicksand-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}